
<div class="grid_12">
  <h2 id="page-heading">Location Tags</h2>
</div>


<div id="" class="grid_12">

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @location_tag.name %>
</p>

<p>
  <b>Farm:</b>
  <%= @location_tag.farm_id %>
</p>


<%= link_to 'Edit', edit_location_tag_path(@location_tag, :farm_id => @farm.id) %> |
<%= link_to 'Back', location_tags_path(:farm_id => @farm.id) %>
</div>