.grid_12
  %h2#page-heading Update your Member Information

  %div{:style => "color:green"}= flash[:notice]

  .grid_6
    = form_for(@user) do |f|
      = hidden_field_tag :farm_id, @farm.id
      = f.error_messages :header_message => "Update failed",
                         :message => "You'll need to fix the following fields:",
                         :header_tag => :h4
      %fieldset.login
        %legend Member Info

        %p
          %label Email
          = f.text_field :email

        = f.fields_for :member do |member_fields|

          %p
            %label First Name
            = member_fields.text_field :first_name, :size => "20"

          %p
            %label Last Name
            = member_fields.text_field :last_name, :size => "20"

          %p
            %i If your Paypal account is under a different email address, enter it here:
            %label Alternate email
            = member_fields.text_field :alternate_email

          %p
            %label Address
            = member_fields.text_area :address, :size => "30x3"

          %p
            %label Phone number
            = member_fields.text_field :phone_number

        %i Leave password blank to remain the same

        %p
          %label Password
          = f.password_field :password

        %p
          %label Confirm Password
          = f.password_field :password_confirmation

        = f.submit "Update", :class => "login button"
        = link_to "Cancel", @user

        