= title "#{@farm.name} : #{@user.member.first_name} #{@user.member.last_name}"

.grid_12
  %h2#page-heading Welcome, #{@user.member.first_name} #{@user.member.last_name}!

.grid_8
  %p{:style => "color:green"}
  = flash[:notice]

  - if @account.pending
    = @member_pending_template.render('farm' => @farm).html_safe if @member_pending_template

    - if !@account.joined_mailing_list
      %hr
      %h3
      = @member_pending_mailing_list_template.render('user' => @user).html_safe if @member_pending_mailing_list_template
      %hr

    - if !@account.deposit_received
      %h3 Initial Deposit:
      = @member_pending_deposit_template.render('farm' => @farm).html_safe if @member_pending_deposit_template
      %hr



  = @member_home_template.render('member' => @user.member).html_safe if @member_home_template

  - if @finalized_orders.size >= 1
    - next_order = @finalized_orders.first

    .box
      %h2 Upcoming Pickup Details:
      .block
        %p
          Your upcoming order (#{next_order.delivery.pretty_date} - #{next_order.delivery.name})
          has been finalized with a total of
          %b= "#{number_to_currency next_order.finalized_total}."
          Your current balance should reflect this order.  Please bring a check, cash, or
          top up your Paypal account if your current balance is negative.

        %table
          %tr
            %th Date/Time:
            %td
              = next_order.delivery.pretty_date
              \, 5-7pm
          %tr
            %th Location:
            %td
              = next_order.location.address
              = link_to  "(map)", next_order.location.map_link, :target => "_blank"
          %tr
            %th Host:
            %td= next_order.location.host_name
          %tr
            %th Host Email:
            %td= mail_to next_order.location.host_email, next_order.location.host_email
          %tr
            %th Host Phone:
            %td= next_order.location.host_phone

  - if @open_deliveries.size == 0 && @open_orders.size == 0
    %div
      %h5 There are currently no #{@farm.name} deliveries open for orders.

  - if @finalized_orders.size > 0
    %h4 Finalized orders
    %i Ready for pickup very soon

    %table.box_table
      - @finalized_orders.each do |order|
        %tr
          %td= "#{order.delivery.date.strftime('%d')} #{order.delivery.date.strftime('%b').upcase}"
          %td= order.delivery.name
          %td= "total: #{number_to_currency order.finalized_total}"
          %td= link_to "view order", order_path(:id => order, :farm_id => @farm.id)

    %br

  - if @inprogress_orders.size > 0
    %h4= "You have #{pluralize @inprogress_orders.size, "order"} in progress:"
    %i We're getting orders ready for the upcoming pickup.  You can view but no longer edit
    %table
      - @inprogress_orders.each do |order|
        %tr
          %td= "#{order.delivery.date.strftime('%d')} #{order.delivery.date.strftime('%b').upcase}"
          %td= order.delivery.name
          %td= order.delivery.pretty_status
          %td= link_to "view order", order_path(:id => order, :farm_id => @farm.id)

  - if @open_orders.size > 0
    %h4 You have #{pluralize @open_orders.size, "open order"}:
    %i You can edit open orders until their closing date
    %table
      - @open_orders.each do |order|
        %tr
          %td #{order.delivery.date.strftime('%d')} #{order.delivery.date.strftime('%b').upcase}
          %td= order.delivery.name
          %td closes: #{order.delivery.closing_at.strftime('%e %b %lpm')}
          %td= link_to "view/edit order", order_path(:id => order, :farm_id => @farm.id)

  - if @open_deliveries.size > 0
    %h4 You can place orders for these upcoming pickups:
    %table
      - @open_deliveries.each do |delivery|
        %tr
          %td #{delivery.date.strftime('%d')} #{delivery.date.strftime('%b').upcase}
          %td= link_to delivery.name, new_order_path(:delivery_id => delivery.id, :farm_id => delivery.farm.id)
          %td= delivery.pretty_status
          %td= link_to "new order", new_order_path(:delivery_id => delivery.id, :farm_id => delivery.farm.id)

  - if @archived_orders.size > 0
    %h4 Past orders:
    %table
      - @archived_orders.each do |order|
        %tr
          %td #{order.delivery.date.strftime('%d')} #{order.delivery.date.strftime('%b').upcase}
          %td= order.delivery.name
          %td= link_to "view archived order", order_path(:id => order, :farm_id => @farm.id)

.grid_4
  .box
    .block
      %h5 Your Account Balance:
      - if @account.current_balance >= 0
        %h4{:style => "color:green"} Credit: #{number_to_currency @account.current_balance}
      - else
        %h4{:style => "color:red"}= number_to_currency @account.current_balance

      %ul.menu
        %li= link_to "Balance History", account_transactions_path(:farm_id => @farm.id, :member_id => @user.member.id)
        - if @account.current_balance < 0
          %li= link_to "Click to PayPal #{number_to_currency @account.current_balance * -1}",
          "https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=#{@farm.default_paypal_address}&item_name=#{@farm.name}+CSA+Payment&amount=#{@account.current_balance.round(2) * -1}&custom=#{@account.id}",
          :target => "_blank"
        - if @farm.reminders_enabled && @farm.location_tags.size != 0
          %li
            %a#manage_reminders Manage email reminders
        #reminder_manager.sidebar_block{:style => "display:none"}
          %p
            %strong Please send me reminders for the following locations:
          %form{:action => "#{url_for :controller => 'accounts', :action => 'edit_reminder_locations', :id => @account.id, :farm_id => @farm.id}"}
            - @location_tags.each do |tag|
              %input{:type => "checkbox", :id => "location_#{tag.id}", :name => "location_tags[]", :value => "#{tag.id}",
                :checked => @account_location_tags.include?(tag) ? true : nil}>/
              %label{:for => "location_#{tag.id}" } #{tag.name}
              %br
            %br
            %span#form_output
            %a.button.green#reminder_submit_btn Update
            %a.button.gray#reminder_cancel_btn Cancel
            %br
            %br
  - if @account.subscriptions.size > 0
    .box#subscriptions_sidebar
      .block
        %h5= @account.subscriptions.first.product.name
        Current Balance: #{@account.subscriptions.first.current_balance}
        %ul.menu
          %li=link_to "History", subscription_transactions_path(:farm_id => @farm.id, :subscription_id => @account.subscriptions.first.id)
          